<p id="notice"><%= notice %></p>

<p>
  <strong>Start date:</strong>
  <%= @vacation.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @vacation.end_date %>
</p>

<p>
  <strong>Name:</strong>
  <%= @vacation.name %>
</p>

<p>
  <strong>Organizer:</strong>
    <%= link_to @vacation.organizer&.name, @vacation.organizer %> 
</p>

<p>
  <a class="dropdown-toggle btn-sm btn-secondary" data-toggle="collapse" href="#showGroups" aria-expanded="false" aria-controls="showGroups">
    Groups
  </a>
  <div class="collapse" id="showGroups">
    <%= render 'groups', vacation: @vacation %>
  </div>
</p>

<p>
  <a class="dropdown-toggle btn-sm btn-secondary" data-toggle="collapse" href="#showInvoices" aria-expanded="false" aria-controls="showInvoices">
    Invoices
  </a>
  <div class="collapse" id="showInvoices">
    <%= render 'invoices', vacation: @vacation %>
  </div>
</p>

<%= link_to 'Edit', edit_vacation_path(@vacation) %> |
<%= link_to 'Back', vacations_path %>
