<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @invoice.date %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @invoice.amount %>
</p>

<p>
  <strong>Service:</strong>
  <%= @invoice.service %>
</p>

<p>
  <strong>Organizer's NIP:</strong>
  <%= @invoice.organizer_nip %>
</p>

<p>
  <strong>Service Provider's NIP:</strong>
  <%= @invoice.service_provider_nip %>
</p>

<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
