<p id="notice"><%= notice %></p>

<p>
  <strong>Pesel:</strong>
  <%= @counselor.pesel %>
</p>

<p>
  <strong>Name:</strong>
  <%= @counselor.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @counselor.surname %>
</p>

<p>
  <strong>Address:</strong>
  <%= @counselor.address %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @counselor.phone_number %>
</p>

<p>
  <strong>Groups:</strong>
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Vacation</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @counselor.groups.each do |group| %>
        <tr>
          <td><%= group.id %></td>
          <td><%= link_to group.vacation.name, group.vacation %></td>
          <td><%= link_to 'Show', group %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</p>

<%= link_to 'Edit', edit_counselor_path(@counselor) %> |
<%= link_to 'Back', counselors_path %>
