<p id="notice" class="font-weight-bold text-success"><%= notice %></p>
<p id="alert" class="font-weight-bold text-danger"><%= alert %></p>

<h1>Organizers</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Nip</th>
      <th>Address</th>
      <th>Phone number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @organizers.each do |organizer| %>
      <tr>
        <td><%= organizer.name %></td>
        <td><%= organizer.email %></td>
        <td><%= organizer.nip %></td>
        <td><%= organizer.address %></td>
        <td><%= organizer.phone_number %></td>
        <td><%= link_to 'Show', organizer %></td>
        <td><%= link_to 'Edit', edit_organizer_path(organizer) %></td>
        <td><%= link_to 'Destroy', organizer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Organizer', new_organizer_path %>
