<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @organizer.email %>
</p>

<p>
  <strong>Nip:</strong>
  <%= @organizer.nip %>
</p>

<p>
  <strong>Name:</strong>
  <%= @organizer.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @organizer.address %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @organizer.phone_number %>
</p>

<p>
  <strong>Vacations:</strong>
  <% @organizer.vacations.each do |vacation| %> 
    <%= link_to vacation.name, vacation %> 
  <% end %>
</p>

<%= link_to 'Edit', edit_organizer_path(@organizer) %> |
<%= link_to 'Back', organizers_path %>
