<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-success btn-sm mx-3" data-toggle="modal" data-target="#form-<%= participation.group_id %>">
    <% if action == 'new' %>
        Add
    <% end %>
</button>

<!-- Modal -->
<div class="modal fade" id="form-<%= participation.group_id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"><%= participation.group.vacation.name %> - group <%= participation.group.id %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_with(url: payments_path, local: true) do |form| %>
            <div class="field">
                <%= form.label :amount %>
                <%= form.text_field :amount %>
            </div>

            <div class="field">
                <%= form.label :date %>
                <%= form.date_select :date %>
            </div>

            <%= form.hidden_field :participant_pesel, value: participation.participant_pesel %>

            <%= form.hidden_field :group_id, value: participation.group_id %>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <%= form.submit class: "btn btn-primary actions" %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>