<p id="notice"><%= notice %></p>

<p>
  <strong>Pesel:</strong>
  <%= @participant.pesel %>
</p>

<p>
  <strong>Name:</strong>
  <%= @participant.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @participant.surname %>
</p>

<p>
  <strong>School:</strong>
  <%= @participant.school %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @participant.phone_number %>
</p>

<p>
  <strong>Groups:</strong>
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Vacation</th>
        <th colspan="9">Payments</th>
      </tr>
    </thead>

    <tbody>
      <% @participant.groups.each do |group| %>
        <tr>
          <td><%= link_to group.id, group %></td>
          <td><%= link_to group.vacation.name, group.vacation %></td>
          <td><%= render 'payments', participant: @participant, group: group %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</p>

<%= link_to 'Edit', edit_participant_path(@participant) %> |
<%= link_to 'Back', participants_path %>
