<p id="notice"><%= notice %></p>

<p>
  <strong>Pesel:</strong>
  <%= @participant.pesel %>
</p>

<p>
  <strong>Name:</strong>
  <%= @participant.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @participant.surname %>
</p>

<p>
  <strong>School:</strong>
  <%= @participant.school %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @participant.phone_number %>
</p>

<br>
<h5>Groups:</h5>
<p>
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Vacation</th>
        <th>Actions</th>
        <th colspan="3">Payments</th>
      </tr>
    </thead>

    <tbody>
      <% @participant.groups.each do |group| %>
        <tr>
          <td><%= link_to group.id, group %></td>
          <td><%= link_to group.vacation.name, group.vacation %></td>
          <td><%= link_to 'Remove from group', 
                  remove_participant_from_group_path(id: @participant.id, group_id: group.id), 
                  method: :put, 
                  data: { confirm: 'Are you sure?' },
                  class: "btn btn-sm btn-outline-danger" %></td>
          <td><%= render 'payments', participant: @participant, group_id: group.id %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</p>

<%= link_to 'Edit', edit_participant_path(@participant) %> |
<%= link_to 'Back', participants_path %>
