<%= form_with(model: group, local: true) do |form| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% group.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class ="field">
    <%= form.label :vacation %>
    <%= form.collection_select(:vacation_id, Vacation.all, :id, :name, prompt: true) %>
  </div>

  <div class="field">
    <%= form.label :counselor %>
    <%= form.collection_check_boxes(:counselor_ids, Counselor.all, :id, :full_name) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
