<p id="notice"><%= notice %></p>

<p>
  <strong>Vacation:</strong>
  <%= link_to @group.vacation.name, vacation_path(@group.vacation) %> 
</p>

<p>
  <strong>Counselors:</strong>
  <% @group.counselors.each do |counselor| %> 
    <%= link_to counselor.full_name, counselor_path(counselor) %>
  <% end %>
</p>

<p>
  <strong>Participants:</strong>
  <% @group.participants.each do |participant| %> 
    <%= link_to participant.full_name, participant %>
  <% end %>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
