<p id="notice"><%= notice %></p>

<p>
  <strong>Nip:</strong>
  <%= @service_provider.nip %>
</p>

<p>
  <strong>Address:</strong>
  <%= @service_provider.address %>
</p>

<p>
  <strong>Name:</strong>
  <%= @service_provider.name %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @service_provider.phone_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @service_provider.email %>
</p>
</p>
<div>
  <h4>Invoices</h4>
  <%= render 'invoices', service_provider: @service_provider %>
</div>

<%= link_to 'Edit', edit_service_provider_path(@service_provider) %> |
<%= link_to 'Back', service_providers_path %>
