<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <% unless model.class.name == "Vacation" %>
        <th>Vacation</th>
      <% end %>
      <th>Counselors</th>
      <th>Number of participants</th>
      <th colspan="3">
        <% if model.class.name == "Vacation" %>
          <%= button_to 'Add group', groups_path, params: {group: { vacation_name: model.name } }, class: 'btn-sm btn-outline-success' %>
        <% end %>
      </th>
    </tr>
  </thead>

  <tbody>
    <% model.groups.each do |group| %>
      <tr>
        <td><%= group.id %></td>
        <% unless model.class.name == "Vacation" %>
          <td><%= group.vacation.name %></td>
        <% end %>
        <td>
            <% group.counselors.each do |counselor| %>
                <%= link_to counselor.full_name, counselor %>
            <% end %>
        </td>
        <td><%= group.participants.count %></td>
        <td><%= link_to 'Show', group, class:"btn-sm btn-outline" %></td>
        <td><%= link_to 'Edit', edit_group_path(group, class:"btn-sm btn-outline")  %></td>
        <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-sm btn-outline-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>