<!DOCTYPE html>
<html>
  <head>
    <title>VacationManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href='/'>Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href=<%= participants_path %>>Participants</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href=<%= vacations_path %>>Vacations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href=<%= lodgings_path %>>Lodgings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href=<%= counselors_path %>>Counselors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href=<%= organizers_path %>>Organizers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href=<%= service_providers_path %>>Service providers</a>
          </li>
        </ul>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
